/* ─── Light mode ─────────────────────────────────────────── */

.text-chromed {
  background-color: #d8d8d8;
  color: transparent;
  text-shadow: -0.75px 2px 2px rgba(248, 248, 248, 0.85);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-stroke: 0.75px rgba(15, 15, 15, 0.15);
  background-clip: text;
  paint-order: stroke fill;
}

.text-chromed-sub {
  background-color: #c3c3c3;
  color: transparent;
  text-shadow: -0.25px 0.5px 0.5px rgba(248, 248, 248, 0.85);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-stroke: 0.5px rgba(15, 15, 15, 0.15);
  background-clip: text;
  paint-order: stroke fill;
}

/* ─── Dark mode ──────────────────────────────────────────── */

.dark .text-chromed {
  background-color: #090909;
  color: transparent;
  text-shadow: -0.75px 2px 2px rgba(49, 49, 49, 0.85);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-stroke: 0.75px rgba(51, 51, 51, 0.15);
  background-clip: text;
  paint-order: stroke fill;
}

.dark .text-chromed-sub {
  background-color: #070707;
  color: transparent;
  text-shadow: -0.5px 0.5px 0.75px rgba(56, 56, 56, 0.8);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-stroke: 1px rgba(51, 51, 51, 0.15);
  background-clip: text;
  paint-order: stroke fill;
}
